<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181276599927-rikeqnoh4vvu0pg2hblcb3q9a7p4nfu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181276599927-rikeqnoh4vvu0pg2hblcb3q9a7p4nfu6</string>
	<key>API_KEY</key>
	<string>AIzaSyAGrT_xhasGuYyhTs2eBzt8JtnMxxxTX7k</string>
	<key>GCM_SENDER_ID</key>
	<string>181276599927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ziraat.makinem</string>
	<key>PROJECT_ID</key>
	<string>ziraat-makinem</string>
	<key>STORAGE_BUCKET</key>
	<string>ziraat-makinem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181276599927:ios:f4b30de17391431ec8c872</string>
</dict>
</plist>